@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 9, 53, 69, 1;
}

body {
  background-image: url("/assets/shape.png");
  background-size: cover;
  background-color: rgb(var(--background-rgb));
  background-repeat: no-repeat;
  z-index: -1;
  min-height: 100vh;
  background-position: bottom;
  background-size: contain;
}

@layer utilities {
  .custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: background-color 0.2s, border-color 0.2s;
    cursor: pointer;
    @apply bg-inputColor size-4 rounded-[5px] inline-block;
  }

  .custom-checkbox:checked {
    background-color: #4f46e5;
  }

  .custom-checkbox:checked::after {
    content: "";
    display: block;
    width: 0.25rem;
    height: 0.5rem;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin: 2px auto;
  }
}
